<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Surprise !</title>
     <link rel="stylesheet" href="../css/easteregg.css">
     <link rel="icon" type="image/png" href="../SEO/iconepistudioslogo.png" sizes="96x96" />
     <meta name="robots" content="noindex, nofollow">
</head>
<body>
     <img src="../SEO/dancing-cat.gif" alt="Dancing cat" class="cat"> <br>
     <p>EasterEgg made with love by Gaël!</p> <br>
     <a href="/"><button class="backToIndex" id="backToIndex">Retour à l'Accueil</button></a>
</body>
</html>
