<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPI | Projets</title>
    <link rel="stylesheet" href="../css/projets.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="icon" type="image/png" href="../SEO/iconepistudioslogo.png" sizes="96x96" />

    <!-- HTML Meta Tags -->
    <meta name="description" content="Découvrez les projets Open-Source de l'association loi 1901 EPI Studios ! ">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.epistudios.fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="EPI">
    <meta property="og:description"
        content="Découvrez les projets Open-Source de l'association loi 1901 EPI Studios ! ">
    <meta property="og:image"
        content="https://opengraph.b-cdn.net/production/images/5946f085-7caf-4721-8c36-1da8d6bf9e94.jpg?token=g7QqRs6lMAwf7qxSkyMNN79rL7nxkH4fFgc7dnCVY30&height=945&width=945&expires=33295576148">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="epistudios.fr">
    <meta property="twitter:url" content="https://www.epistudios.fr">
    <meta name="twitter:title" content="EPI">
    <meta name="twitter:description"
        content="Découvrez les projets Open-Source de l'association loi 1901 EPI Studios ! ">
    <meta name="twitter:image"
        content="https://opengraph.b-cdn.net/production/images/5946f085-7caf-4721-8c36-1da8d6bf9e94.jpg?token=g7QqRs6lMAwf7qxSkyMNN79rL7nxkH4fFgc7dnCVY30&height=945&width=945&expires=33295576148">


    <script src="../script/projets.js" defer></script>
    <script src="../script/navbar.js" defer></script>
</head>

<body>

    <header>
        <div class="iconcontainer">
            <a href="https://discord.gg/PvKeHzTwdU" aria-label="Lien vers notre Discord"><img
                    src="../SEO/discord-logo.png" class="discordicon"></a>
            <a href="https://github.com/EPI-Studios" aria-label="Lien vers notre GitHub"><img
                    src="../SEO/github-logo.png" class="githubicon"></a>
        </div>

        <nav class="nav" id="nav">

            <img src="../SEO/menu-icone.png" id="dropMenu" class="dropmenu">
            <div class="dropnav">
                <a href="/" class="serv1">-> Accueil</a>
                <a href="/services" class="serv1">-> Services</a>
                <a href="/projets" class="proj1">-> Projets</a>
            </div>

            <div class="backgroundnavbar" id="backNav">
                <div class="navbar" id="navBar">
                    <img src="../SEO/feuille-icone.png" alt="" class="feuille1">
                    <a href="/services" class="serv1">Services</a>
                    <a href="/"><img src="../SEO/epi-logo-tete.png" alt="" class="bust1"></a>
                    <a href="/projets" class="proj1">Projets</a>
                    <img src="../SEO/feuille-icone.png" alt="" class="feuille2">
                </div>
            </div>
        </nav>
    </header>

    <main class="page-container">

        <section class="nosprojets">
            <h1>Nos Projets</h1>
            <p>
                Depuis le lancement d'EPI Studio, nous avons créé plusieurs projets, que ce soit des projets Minecraft,
                Web, ou même d'applications de bureau ! Vous pouvez nous rejoindre directement sur Github, ils sont
                disponibles gratuitement !
            </p>

            <div class="project-list">
                <!-- Projet 3: Moud -->
                <div class="project-card">
                    <img src="../SEO/Mound_logo.png" alt="logo-moud">
                    <div class="project-info">
                        <h2>Moud</h2>
                        <p>
                            Un Engine révolutionnaire Typescript pour créer des jeux à l'intérieur même de minecraft. 
                            Créez facilement vos jeux vidéos avec de la logique serveur, de la modelistation et beaucoup 
                            d'autres features, et tout ça gratuitement! 
                        </p>
                        <a href="https://moud.epistudios.fr/" target="_blank" rel="noopener noreferrer">Essayer Gratuitement</a>
                    </div>
                </div>
                <!-- Projet 1: Creative Util -->
                <div class="project-card">
                    <img src="../SEO/creativeutil-logo.jpg" alt="Logo de Creative Util">
                    <div class="project-info">
                        <h2>Creative Util</h2>
                        <p>
                            Un datapack qui propose divers outils créatifs en tant que GUI tels que le contrôle de la
                            météo, d'enchantements, de gamerules et la création de nourriture personnalisée.
                        </p>
                        <a href="https://github.com/EPI-Studios/creative-util" target="_blank"
                            rel="noopener noreferrer">Voir sur GitHub</a>
                    </div>
                </div>

                <!-- Projet 2: MeekUp -->
                <div class="project-card">
                    <img src="../SEO/meekup-logo.png" alt="Logo de MeekUp">
                    <div class="project-info">
                        <h2>MeekUp</h2>
                        <p>
                            Un site d'upload de fichiers fait avec un backend en Flask.
                        </p>
                        <a href="https://github.com/EPI-Studios/Meekup" target="_blank" rel="noopener noreferrer">Voir
                            sur GitHub</a>
                    </div>
                </div>

            </div>
        </section>

        <section class="meettheteam">
            <h1>Meet the Team !</h1>
            <div class="team-grid">
                <div class="cardtemplate">
                    <img src="../SEO/pfp.jpg" alt="Photo de Gaël" id="gaelphoto">
                    <p class="member-name">Gaël.T</p>
                    <p class="member-role">Président d'EPI Studio</p>
                    <p class="member-bio">
                        Apprenti Développeur JS, je dirige ce projet qui me tient tant à cœur avec cette merveilleuse
                        équipe !
                    </p>
                </div>

                <div class="cardtemplate">
                    <img src="../SEO/nathan.jpg" alt="Photo de Nathan">
                    <p class="member-name">Nathan P.</p>
                    <p class="member-role">Vice-Président d'EPI Studio</p>
                    <p class="member-bio">
                        Grâce à mes quelques bases en développement et en graphisme, je suis investi dans ce projet à
                        200%!
                    </p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/marine.jpg" alt="Photo de Marine">
                    <p class="member-name">Marine</p>
                    <p class="member-role">Secrétaire</p>
                    <p class="member-bio">
                        Secrétaire de l'association, étudiante en BTS SAM (Support à l'Action Managériale).
                    </p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/enflake.jpg" alt="Illustration d'Enflake">
                    <p class="member-name">Enflake</p>
                    <p class="member-role">Trésorier d'EPI STUDIO</p>
                    <p class="member-bio">
                        Étudiant en réseaux & Télécommunications, je suis passionné d'informatique et d'hardware !
                    </p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/meek-logo.jpg" alt="Illustration de Meek">
                    <p class="member-name">Meek</p>
                    <p class="member-role">Développeur Java/C++</p>
                    <p class="member-bio">
                        Chez EPI STUDIO depuis 1978.
                    </p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/sonyd-logo.jpg" alt="Illustration de Sony">
                    <p class="member-name">Sony D.</p>
                    <p class="member-role">Développeur & Membre d'EPI STUDIO</p>
                    <p class="member-bio">
                        Passionné par le développement web et les univers vidéoludiques. Mon objectif : donner vie aux
                        idées qui me tiennent à
                        cœur !
                    </p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/ilan-logo.jpg" alt="Illustration d'Ilan">
                    <p class="member-name">Ilan</p>
                    <p class="member-role">Graphiste</p>
                    <p class="member-bio">
                        Passionné de graphisme et d'illustration, mon rôle est de mettre ces passion dans mes création
                        et projets afin
                        d'améliorer l'image et l'identitée visuelle de ceux-ci !
                    </p>
                </div>

                <div class="cardtemplate">
                    <img src="../SEO/sub2-logo.jpg" alt="Illustration de Sub2" id="sub2">
                    <p class="member-name">Sub2</p>
                    <p class="member-role">Développeur</p>
                    <p class="member-bio">
                        Développeur de passion avant tout, je me perfectionne un peu plus chaque jour en Web, Bot,
                        Overlay etc.
                    </p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/arthur-logo.jpg" alt="Photo d'Arthur" id="arthur">
                    <p class="member-name">Arthur</p>
                    <p class="member-role">Développeur</p>
                    <p class="member-bio">Développeur curieux et touche-à-tout, je participe aux projets d'EPI Studio en
                        explorant le web et les bots, toujours prêt à développer de nouvelles idées !</p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/norvoxx-logo.jpg" alt="Illustration de Norvoxx" id="norvoxx">
                    <p class="member-name">Norvoxx</p>
                    <p class="member-role">Développeur</p>
                    <p class="member-bio">Étudiant en infromatique. Passionné par le développement et la Cybersécurité.</p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/nekoniyah-logo.png" alt="Illustration de Nekoniyah" id="nekoniyah">
                    <p class="member-name">Nekoniyah</p>
                    <p class="member-role">Développeur & Graphiste</p>
                    <p class="member-bio">Autodidacte depuis + de 3 ans. Passionné de jeux et d'animé :3 !</p>
                </div>
                <div class="cardtemplate">
                    <img src="../SEO/mrphoto.png" alt="Illustration de mr">
                    <p class="member-name">Mr_qsdf</p>
                    <p class="member-role">Développeur, Modélisateur 3d et Sound Designer</p>
                    <p class="member-bio">Essaye de comprendre comment casser le monde avec du code / Java</p>
                </div>
            </div>
        </section>

        <section class="join-us">
            <p>Tu souhaites faire partie du studio ?</p>
            <a href="/recrutements">Nous Rejoindre</a>
        </section>

    </main>

    <footer>
        <section class="footer">
            <div class="footer-background-image">
                <img src="../SEO/fond-feuilles-gris.jpg" alt="">
            </div>
            <div class="footercontainer">
                <div>
                    <p class="infofooter">Informations</p>
                    <p class="footertextinfo">
                        Association Loi 1901 crée le 24/08/25. <br>
                        <a href="/mentions">Mentions Légales</a><br>
                        <a href="/cgv">Conditions Générales de Vente</a><br>
                        Contact pour réclamation: contact@epistudios.fr <br>
                        Statuts disponibles sur demande.
                    </p>
                </div>
                <a href="/"><img src="../SEO/epi-logo-tete.png" alt="Buste logo" class="bustelogo"></a>
                <div>
                    <p class="rejoindrefooter">Nous Rejoindre</p>
                    <p class="footertextrej">
                        Vous souhaitez faire partie de l'aventure ? <br>
                        Nous recherchons des développeurs, graphistes et CM ! <br>
                        Pour plus d'informations et pour commencer les recrutements, <br>
                        Rendez-vous sur <a href="/recrutements">cette page de recrutements</a>!
                    </p>
                </div>
            </div>
        </section>
    </footer>

</body>

</html>
