<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Crédits</title>
     <link rel="stylesheet" href="../css/hero.css">
     <link rel="stylesheet" href="../css/animations.css">
     <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
     <header>
          <div class="iconcontainer">
               <a href="#" aria-label="Lien vers notre Discord"><img src="../Ressources/discordicon.png"
                         class="discordicon"></a>
               <a href="#" aria-label="Lien vers notre GitHub"><img src="../Ressources/github-mark.png"
                         class="githubicon"></a>
          </div>
     
          <nav class="nav">
               <div class="backgroundnavbar">
                    <div class="navbar">
                         <img src="../Ressources/feuillehotbar.png" alt="" class="feuille1">
                         <a href="../templates/services.html" class="serv1">Services</a>
                         <a href="../templates/index.html"><img src="../Ressources/Buste-03.png" alt="" class="bust1"></a>
                         <a href="../templates/projets.html" class="proj1">Projets</a>
                         <img src="../Ressources/feuillehotbar.png" alt="" class="feuille2">
                    </div>
               </div>
          </nav>
     </header>

<h1>Crédits</h1>

<a href="https://www.flaticon.com/free-icons/discord" title="discord icons">Discord icons created by LAFS - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/foursquare-check-in" title="foursquare check in icons">Foursquare check in
     icons created by sonnycandra - Flaticon</a>

     <footer>
          <section class="footer">
               <div class="footer-background-image">
                    <img src="../Ressources/footerimage.jpg" alt="">
               </div>
               <div class="footercontainer">
                    <div>
                         <p class="infofooter">Informations</p>
                         <p class="footertextinfo">
                              Association Loi 1901 crée le 24/08/25. <br>
                              <a href="../templates/mentions.html">Mentions Légales</a><br>
                              <a href="../templates/cgv.html">Conditions Générales de Vente</a><br>
                              Contact pour réclamation: contact@epistudios.fr <br>
                              Statuts disponibles sur demande.
                         </p>
                    </div>
                    <a href="../templates/index.html"><img src="../Ressources/Buste-03.png" alt="Buste logo"
                              class="bustelogo"></a>
                    <div>
                         <p class="rejoindrefooter">Nous Rejoindre</p>
                         <p class="footertextrej">
                              Vous souhaitez faire partie de l'aventure ? <br>
                              Nous recherchons des développeurs, graphistes et CM ! <br>
                              Pour plus d'informations et pour commencer les recrutements, <br>
                              Rendez-vous sur <a href="../templates/recrutements.html">cette page de recrutements</a>!
                         </p>
                    </div>
               </div>
          </section>
     </footer>
</body>
</html>
<style>
     .footer {
          margin-top: 5rem;
     }
</style>