<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Surprise!</title>
     <link rel="stylesheet" href="../css/easteregg.css">
</head>
<body>
     
     <img src="../Ressources/dancing-cat.gif" alt="Dancing cat" class="cat"> <br>

     <p>EasterEgg made with love by Gaël!</p> <br>
     <a href="../templates/index.html"><button class="backToIndex" id="backToIndex">Retour à l'Accueil</button></a>
     

</body>
</html>
