<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>EPI Studios</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../css/hero.css">
</head>
<body>

     <div class="iconcontainer">
          <img src="../Ressources/discordicon.png" class="discordicon">
          <img src="../Ressources/github-mark.png" class="githubicon">
     </div>

     <section class="nav">
          
          <div class="backgroundnavbar"></div>
          
          <div class="navbar">
               
               <img src="../Ressources/feuillehotbar.png" class="feuille1"> 
               <a href="../templates/services.html" class="serv1">S e r v i c e s</a>

               <img src="../Ressources/Buste-03.png" class="bust1">

               <a href="../templates/projets.html" class="proj1">P r o j e t s</a>

               <img src="../Ressources/feuillehotbar.png" class="feuille2">
          </div>
          <br>
     
     </section>

     <section class="presepi">
          <div class="backgroundpres"></div>
          <img src="../Ressources/Feuilles-03.png" class="feuillepres">
          <img src="../Ressources/Statue-entiere.png" class="statuepres">
          <div class="textprescontainer">
          
               <div class="alignpres">
                    <p class="titlepres">EPI Studios</p>

                    <p class="textpres">
                    Depuis 2020, EPI Studio accompagne des passionnés dans leur processus de création de leurs projets Minecraft, Entrepreneurial grâce au Web ou
                    même en leur créant une image de marque poignante. Découvrez notre équipe de talentueux développeurs et graphistes, et laissez vous convaincre 
                    par nos projets en cliquant juste ici: 
                    </p>

                    <a href="projets.html" class="buttonprojets">Nos Projets</a>
               </div>

          </div>

          <p class="textstats">Des stats</p>

          <img src="../Ressources/Arrow 1.png">

     </section>

     <!-- * End of first section -->

     <section class="stats">

          <img src="../Ressources/Fond_beige-05.jpg">
          
          <div class="containerstats">
               <!-- * Open Source-->
               <img src="../Ressources/projets-open-sources.png">
               <p class="opensourcenumber">3</p>

               <!-- * Commandes réalisées-->
               <img src="../Ressources/Commandes-realisee.png">
               <p class="commandesnumber">2</p>

               <!-- * Membres -->
               <img src="../Ressources/membres.png">
               <p class="membresnumber">9</p>
          </div>
          
          <img src="../Ressources/quote.png">
          <p class="textquote">"Quote"</p>
          <p class="textquote2">sur comment j'ai fondé le studio, etc.</p>

          <div class="profile">
               <img src="../Ressources/pfp.png">
               <p class="nameprofile">Gaël</p>
               <p class="titleprofile">Fondateur du studio EPI, développeur Web/desktop au sein du projet</p>
          </div>
     </section>

     <section class="footer">

          <img src="../Ressources/footerimage.jpg">
          <div class="footercontainer">
               <p class="infofooter">Informations</p>
               <p class="footertextinfo">Lorem ipsum et tout le reste</p>

               <img src="../Ressources/Buste-03.png">

               <p class="rejoindrefooter">Nous Rejoindre</p>
               <p class="footertextrej">Lorem ipsum et tout le reste</p>
          </div>
     </section>
     
</body>
</html>