<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>EPI Studios</title>
     <link rel="stylesheet" href="../css/hero.css">
</head>
<body>
     <!-- TODO Insert discord icon href to our discord server-->
     <section class="nav">
          <div class="navbar">
               <img src="../Ressources/feuillehotbar.png"> 
               <a href="../templates/services.html">S e r v i c e s</a>

               <img src="../Ressources/Buste-03.png">

               <a href="../templates/projets.html">P r o j e t s</a>

               <img src="../Ressources/feuillehotbar.png">
          </div>
     <!-- TODO Insert github icon href to our github page-->
     </section>

     <section class="presepi">
          
          <div>
               <img src="../Ressources/Feuilles-03.png">
               <img src="../Ressources/Statue-entiere.png">
          
               <p class="titlepres">EPI Studios</p>

               <p class="textpres">
                    Depuis 2020, EPI Studio accompagne des passionnés dans leur processus de création de leurs projets Minecraft, Entrepreneurial grâce au Web ou
                    même en leur créant une image de marque poignante. Découvrez notre équipe de talentueux développeurs et graphistes, et laissez vous convaincre 
                    par nos projets en cliquant juste ici: 
               </p>

               <a href="projets.html">Nos Projets</a>
          </div>

          <p class="stats">Des stats</p>

            <!-- TODO Insert arrow image here -->

     </section>

     <!-- * End of first section -->
     
</body>
</html>