<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Mentions Légales</title>
     <link rel="stylesheet" href="../css/hero.css">
     <link rel="stylesheet" href="../css/animations.css">
     <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
     <header>
          <div class="iconcontainer">
               <a href="#" aria-label="Lien vers notre Discord"><img src="../Ressources/discordicon.png"
                         class="discordicon"></a>
               <a href="#" aria-label="Lien vers notre GitHub"><img src="../Ressources/github-mark.png"
                         class="githubicon"></a>
          </div>
     
          <nav class="nav">
               <div class="backgroundnavbar">
                    <div class="navbar">
                         <img src="../Ressources/feuillehotbar.png" alt="" class="feuille1">
                         <a href="../templates/services.html" class="serv1">Services</a>
                         <a href="../templates/index.html"><img src="../Ressources/Buste-03.png" alt="" class="bust1"></a>
                         <a href="../templates/projets.html" class="proj1">Projets</a>
                         <img src="../Ressources/feuillehotbar.png" alt="" class="feuille2">
                    </div>
               </div>
          </nav>
     </header>
     <h1>Mentions Légales</h1>
     <section>
          <h2>Éditeur du site</h2>
          <p>
               Nom de l'association : EPI STUDIO<br>
               Date de création: 24/08/25
               Numéro RNA : W313041050<br>
               Numéro Siret: ... <br>
               Adresse : 22 allée du Loiret, 31770 Colomiers.<br>
               Téléphone : +33 6 58 53 82 54<br>
               Email : contact@epistudios.fr<br>
               
               Ce site web a été réalisé sous la superivison de Gaël TOURNIER : gael.tournier@epistudios.fr.
          </p>
     </section>

     <section>
          <h2>Hébergement</h2>
          <p>
               Hébergeur : [Nom de l'hébergeur]<br>
               Adresse : [Adresse de l'hébergeur]<br>
               Téléphone : [Numéro de téléphone de l'hébergeur]
          </p>
     </section>
     <section>
          <h2>Propriété intellectuelle</h2>
          <p>
               Le contenu de ce site web est la propriété d'EPI STUDIO, néanmoins, 
               le code source de ce site web est disponible en Open-Source sur github. <br>
               Vous pouvez donc modifier ou distribuer le code de ce site web, sans y inclure le contenu (logos, marques, photos 
               représentants des membres, projets non-open source) sans autorisation préalable de la ou des personnes en charge.
          </p>
     </section>
     <section>
          <h2>Protection des données personnelles</h2>
          <p>
               Ce site web ne collecte aucune de vos données personnelles, nous sommes engagés dans le combat 
               contre l'utilisation commerciale des données personnelles ! <br>
               Néanmoins, si vous êtes client, certaines données que vous nous avez communiquées 
               (nom, prénom, adresse, signature, IBAN) seront stockées 
               pour la durée de votre commande et de la maintenance. <br>
               Elles seront supprimées au bout de 30 jours dès lors que la commande et la période de maintenance est terminée. <br>
               Si vous souhaitez faire opposition sur ces données durant la période de la commande,
               contactez contact@epistudios.fr . 
          </p>
     </section>

     <footer>
          <section class="footer">
               <div class="footer-background-image">
                    <img src="../Ressources/footerimage.jpg" alt="">
               </div>
               <div class="footercontainer">
                    <div>
                         <p class="infofooter">Informations</p>
                         <p class="footertextinfo">
                              Association Loi 1901 crée le 24/08/25. <br>
                              <a href="../templates/mentions.html">Mentions Légales</a><br>
                              <a href="../templates/cgv.html">Conditions Générales de Vente</a><br>
                              Contact pour réclamation: contact@epistudios.fr <br>
                              Statuts disponibles sur demande.
                         </p>
                    </div>
                    <a href="../templates/index.html"><img src="../Ressources/Buste-03.png" alt="Buste logo"
                              class="bustelogo"></a>
                    <div>
                         <p class="rejoindrefooter">Nous Rejoindre</p>
                         <p class="footertextrej">
                              Vous souhaitez faire partie de l'aventure ? <br>
                              Nous recherchons des développeurs, graphistes et CM ! <br>
                              Pour plus d'informations et pour commencer les recrutements, <br>
                              Rendez-vous sur <a href="../templates/recrutements.html">cette page de recrutements</a>!
                         </p>
                    </div>
               </div>
          </section>
     </footer>
</body>
</html>
<style>
     a {
          text-decoration: underline 1px !important;
     }
     .serv1, .proj1 {
          text-decoration: none !important;
     }
</style>