<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>EPI | Projets</title>
</head>
<body>
     <section class="nav">
     
          <div class="backgroundnavbar"></div>
     
          <div class="navbar">
     
               <img src="../Ressources/feuillehotbar.png" class="feuille1">
               <a href="../templates/services.html" class="serv1">S e r v i c e s</a>
     
               <img src="../Ressources/Buste-03.png" class="bust1">
     
               <a href="../templates/projets.html" class="proj1">P r o j e t s</a>
     
               <img src="../Ressources/feuillehotbar.png" class="feuille2">
          </div>
          <br>
     
     </section>

     <section class="nosprojets">
          <h1>Nos Projets</h1>
          <p>
               Depuis le lancement d'EPI Studio en avril 2025,
               nous avons créé plusieurs projets, que ce soit des projets
               Minecraft, Web, ou même d'applications de bureau !
               Vous pouvez nous rejoindre directement sur Github, 
               ils sont disponibles gratuitement !
          </p>

          <img src="../Ressources/creativeutil.png">
          <p>
               Creative Util
          </p>
          <p>
               Un datapack qui propose divers outils créatifs en tant
               que GUI tels que le contrôle de la météo, d'enchanements,
               de gamerules et la création de nourriture personalisée.
          </p>

          <a href="https://github.com/EPI-Studios/creative-util">Télécharger</a>

          <p>
               MeekUp
          </p>
          <p>
               Un site d'upload de fichiers fait avec un backend en 
               flash.
          </p>
          <a href="https://github.com/EPI-Studios/Meekup">Télécharger</a>
     </section>

     <section class="meettheteam">
          <h1>Meet the Team !</h1>

          <div class="cardtemplate">
               <img src="../Ressources/pfp.png">
               <p>Gaël.T</p>
               <p>Fondateur d'EPI Studio</p>
               <p>
                    Apprentis Développeur JS,
                    je dirige ce projet qui me tiens
                    tant à coeur avec cette 
                    merveilleuse équipe ! 
               </p>
          </div>
          <!--! Add 7 more team members -->
     </section>

     <p>Tu souhaites faire partie du studio ?</p>
     <a href="../templates/recrutements.html">Nous Rejoindre</a>
</body>
</html>