<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>EPI | Recrutements</title>
</head>
<body>
     <section class="nav">
     
          <div class="backgroundnavbar"></div>
     
          <div class="navbar">
     
               <img src="../Ressources/feuillehotbar.png" class="feuille1">
               <a href="../templates/services.html" class="serv1">S e r v i c e s</a>
     
               <img src="../Ressources/Buste-03.png" class="bust1">
     
               <a href="../templates/projets.html" class="proj1">P r o j e t s</a>
     
               <img src="../Ressources/feuillehotbar.png" class="feuille2">
          </div>
          <br>
     
     </section>

     <p>Recrutements</p>

     <!-- ! Ici, je fais le form pour les dév, en fonction de la réponse
      ! à la question 1, j'afficherai différentes questions avec JS-->

</body>
</html>