<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos Services</title>
    <link rel="stylesheet" href="../css/services.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../script/services.js" defer></script>
</head>
<body>

    <nav class="new-nav">
        <div class="new-navbar-container">
            <img src="../Ressources/feuillehotbar.png" alt="Feuille de décoration" class="feuille-left">
            <a href="../templates/services.html" class="nav-link">Services</a>
            <a href="../templates/index.html"><img src="../Ressources/Buste-03.png" alt="Logo de l'association" class="bust-center"></a>
            <a href="../templates/projets.html" class="nav-link">Projets</a>
            <img src="../Ressources/feuillehotbar.png" alt="Feuille de décoration" class="feuille-right">
            
        </div>
    </nav>
    
    <header>
        <div class="header-content">
            <h1>Nos Services</h1>
            <p>Nous mettons nos talents à votre disposition, nous vous proposons une gamme complète de services pour concrétiser vos projets de A à Z. Nos compétences s’étendent de la conception de sites web à la gestion de serveurs de jeu personnalisés, en passant par le graphisme. Nous nous adaptons à vos besoins et nous engageons à offrir une expérience de haute qualité, pour une satisfaction garantie.</p>
        </div>
    </header>

    <main>
        <section class="service-category">
            <div class="category-heading">
                <h2>Sites Web</h2>
                <div class="service-description">
                    <p>Nous n’affichons aucun prix, nous réalisons un devis sur-mesure pour chacun de nos clients.</p>
                    <p>Chaque commande est basée sur un cahier des charges détaillé afin que la production et le résultat soient particulièrement personnalisés.</p>
                </div>
            </div>
            <div class="cards-container">
                <div class="card">
                    <h3>Projet sur-mesure</h3>
                    <ul>
                        <li><span class="emoji">✔</span> Onglet de connexion</li>
                        <li><span class="emoji">✔</span> SEO (visibilité)</li>
                        <li><span class="emoji">✔</span> Design graphique</li>
                        <li><span class="emoji">✔</span> Intégration Google Maps</li>
                    </ul>
                    <button class="commander-btn">Commander</button>
                </div>
                <div class="card card-full-text">
                    <p>Nous adaptons l'offre et le prix en fonction de vos besoins: que vous soyez <strong class="highlight">une association</strong>, <strong class="highlight">un petit business</strong> ou un grand <strong class="highlight">vendeur en ligne</strong>, nous aurons de quoi vous satisfaire !</p>
                    <p>Démarquez-vous grâce à une interface designée par notre <strong class="highlight">graphiste</strong>, ainsi qu'un <strong class="highlight">SEO</strong> vous permettant d'avoir de la visibilité !</p>
                </div>
            </div>
        </section>

        <section class="service-category">
            <h2 class="title-with-desc">Discord</h2>
            <p class="category-description">L'association EPI-Studio n'est pas affiliée à Discord.</p>
            <div class="cards-container">
                <div class="card">
                    <h3>Serveur prêt à l'emploi</h3>
                    <ul>
                        <li><span class="emoji">📦</span> Livraison rapide</li>
                        <li>Serveur communautaire, bureau de travail, groupe de discussion ou juste pour vous et vos amis !</li>
                    </ul>
                    <button class="commander-btn">Commander</button>
                </div>
                <div class="card">
                    <h3>Bot personnalisé</h3>
                    <ul>
                        <li><span class="emoji">🤖</span> <strong class="highlight">Badge développeur inclus !</strong></li>
                        <li><span class="emoji">✔</span> Toutes les fonctionnalités que vous désirez dans votre bot</li>
                        <li><span class="emoji">✔</span> Commandes infinies</li>
                    </ul>
                    <button class="commander-btn">Commander</button>
                </div>
            </div>
        </section>

        <section class="service-category">
            <h2>Minecraft</h2>
            <p class="category-description">L'association EPI-Studio n'est pas affiliée à Mojang</p>
            <div class="cards-container">
                <div class="card">
                    <h3>Serveur personnalisé</h3>
                    <ul>
                        <li><span class="emoji">♾️</span> <strong class="highlight">Plugins infinis</strong></li>
                        <li><span class="emoji">🛡️</span> <strong class="highlight">Anti-Cheat</strong></li>
                        <li><span class="emoji">👥</span> <strong class="highlight">Ranks personnalisés</strong></li>
                        <li><span class="emoji">🔗</span> <strong class="highlight">Intégration Discord</strong></li>
                    </ul>
                    <button class="commander-btn">Commander</button>
                </div>
                <div class="card card-full-text">
                    <p>Serveur 100% personnalisé !</p>
                    <p><strong class="highlight">Obtenez un guide gratuit "Comment modifier votre serveur"</strong> qui vous apprend à créer et modifier votre serveur Minecraft!</p>
                    <button class="commander-btn">Commander</button>
                </div>
                <div class="card">
                    <h3>Plugins personnalisés</h3>
                    <ul>
                        <li><span class="emoji">♾️</span> <strong class="highlight">Possibilités infinies !</strong></li>
                        <li><span class="emoji">📜</span> Documentation</li>
                        <li><span class="emoji">🤝</span> Assistance 6 mois</li>
                        <li><span class="emoji">🗃️</span> Fichier de configuration</li>
                    </ul>
                    <button class="commander-btn">Commander</button>
                </div>
                <div class="card card-full-text">
                    <p><strong class="highlight">Customisez votre serveur grâce à nos plugins personnalisés !</strong></p>
                    <p>AutoMod, factions, addons, tout est possible avec nos plugins!</p>
                    <p>Pour assurer la continuité, tous nos plugins sont dotés d'une documentation complète en cas de changement de développeurs !</p>
                    <p>Vous pouvez également télécharger votre plugin avec les fichiers de configuration !</p>
                </div>
            </div>
        </section>

        <section class="more-services">
            <h2>Et bien plus...</h2>
            <p>Projets annexes</p>
            <p>Graphisme et Illustrations</p>
            <button class="commander-btn">Commander</button>
        </section>
        
        <section class="faq-section">
            <h2>F.A.Q</h2>
            <div class="faq-item" id="box1">Comment est utilisé l'argent ?
                <div id="answer">
                </div>
            </div>
            
            <div class="faq-item" id="box2">Quelles sont mes protections ?
                 <div id="answer2">
                 </div> 
            </div>
            <div class="faq-item" id="box3">Comment se passe la commande ? <div id="answer3"></div></div>
        </section>

    </main>

    <footer>
        <section class="footer">
            <div class="footer-background-image">
                <img src="../Ressources/footerimage.jpg" alt="">
            </div>
            <div class="footercontainer">
                <div>
                    <p class="infofooter">Informations</p>
                    <p class="footertextinfo">
                        Association Loi 1901 crée le 24/08/25. <br>
                        <a href="../templates/mentions.html">Mentions Légales</a><br>
                        <a href="../templates/cgv.html">Conditions Générales de Vente</a><br>
                        Contact pour réclamation: contact@epistudios.fr <br>
                        Statuts disponibles sur demande.
                    </p>
                </div>
                <a href="../templates/index.html"><img src="../Ressources/Buste-03.png" alt="Buste logo"
                        class="bustelogo"></a>
                <div>
                    <p class="rejoindrefooter">Nous Rejoindre</p>
                    <p class="footertextrej">
                        Vous souhaitez faire partie de l'aventure ? <br>
                        Nous recherchons des développeurs, graphistes et CM ! <br>
                        Pour plus d'informations et pour commencer les recrutements, <br>
                        Rendez-vous sur <a href="../templates/recrutements.html">cette page de recrutements</a>!
                    </p>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>